* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 68.5%;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;


  background: linear-gradient(45deg, #190361 0%, #bb00ff 100%);
  background-size: 200%;
}

.hide {
  display: none;
}

/* ------------ screen1 -------------*/

main {
  background-color: #ffffff;
  width: min(48.8rem, 90%);
  text-align: center;

  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);

  padding: 4.8rem 3.4rem 3.4rem;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: #34355B;
  margin-bottom: 1.9rem;
}

h2 {
  font-family: 'DM', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  color: #34355B;
  margin-bottom: 2rem;
}

#btnOpen {
  background: #ffffff;
  border: none;
}

#img1 {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#img1:hover {
  animation: tremor 0.4s ease-in-out infinite;
}

@keyframes tremor {

  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(2deg);
  }

  40% {
    transform: rotate(-1deg);
  }

  60% {
    transform: rotate(2deg);
  }

  80% {
    transform: rotate(0);
  }

  100% {
    transform: rotate();
  }

}

/* ------------ screen2 -------------*/

.screen2 p {
  font-family: 'Dancing Script', cursiva;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;

  color: #000000;

  line-height: 2.9rem;
  padding: 1rem;

  background-color: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  margin-bottom: 1.4rem;
  border-radius: 0.2rem;

  animation: upMessage 2s ease-out forwards;

}

@keyframes upMessage {

  0% {
    opacity: 0;
    transform: translateY(16rem) scale(0.2);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

}


#btnAgain {
  background-color: #FF9500;
  border-radius: 0.4rem;

  padding: 1.6rem;
  border: none;

  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;

  color: #ffffff;

  cursor: pointer;
  transition: all 0.3s ease;
}

#btnAgain:hover {
  scale: 1.1
}